@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Nunito, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: PT Serif, serif;
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --color-destructive-foreground: var(--destructive-foreground);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.91 0.05 82.69);
  --foreground: oklch(0.41 0.08 79.04);
  --card: oklch(0.92 0.04 83.86);
  --card-foreground: oklch(0.41 0.08 73.75);
  --popover: oklch(0.92 0.04 83.86);
  --popover-foreground: oklch(0.41 0.08 73.75);
  --primary: oklch(0.71 0.10 111.99);
  --primary-foreground: oklch(0.98 0.01 3.71);
  --secondary: oklch(0.88 0.05 83.41);
  --secondary-foreground: oklch(0.51 0.08 79.21);
  --muted: oklch(0.86 0.06 83.48);
  --muted-foreground: oklch(0.51 0.08 74.26);
  --accent: oklch(0.86 0.05 84.50);
  --accent-foreground: oklch(0.26 0.02 358.42);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.74 0.06 79.81);
  --input: oklch(0.74 0.06 79.81);
  --ring: oklch(0.51 0.08 74.26);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.70 0.12 183.20);
  --chart-3: oklch(0.48 0.08 211.46);
  --chart-4: oklch(0.84 0.17 85.07);
  --chart-5: oklch(0.74 0.17 60.21);
  --sidebar: oklch(0.87 0.06 83.96);
  --sidebar-foreground: oklch(0.41 0.08 79.04);
  --sidebar-primary: oklch(0.26 0.02 358.42);
  --sidebar-primary-foreground: oklch(0.98 0.01 3.71);
  --sidebar-accent: oklch(0.83 0.06 84.46);
  --sidebar-accent-foreground: oklch(0.26 0.02 358.42);
  --sidebar-border: oklch(0.91 0.00 0.43);
  --sidebar-ring: oklch(0.71 0.00 0.37);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Nunito, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.10;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
}

.dark {
  --background: oklch(0.20 0.01 48.35);
  --foreground: oklch(0.88 0.05 79.26);
  --card: oklch(0.25 0.01 56.14);
  --card-foreground: oklch(0.88 0.05 79.26);
  --popover: oklch(0.25 0.01 56.14);
  --popover-foreground: oklch(0.88 0.05 79.26);
  --primary: oklch(0.64 0.05 115.39);
  --primary-foreground: oklch(0.98 0.01 3.71);
  --secondary: oklch(0.33 0.02 60.70);
  --secondary-foreground: oklch(0.88 0.05 83.41);
  --muted: oklch(0.27 0.01 39.35);
  --muted-foreground: oklch(0.74 0.06 79.81);
  --accent: oklch(0.33 0.02 60.70);
  --accent-foreground: oklch(0.86 0.05 84.50);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.33 0.02 60.70);
  --input: oklch(0.33 0.02 60.70);
  --ring: oklch(0.64 0.05 115.39);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.70 0.12 183.20);
  --chart-3: oklch(0.48 0.08 211.46);
  --chart-4: oklch(0.84 0.17 85.07);
  --chart-5: oklch(0.74 0.17 60.21);
  --sidebar: oklch(0.23 0.01 56.09);
  --sidebar-foreground: oklch(0.88 0.05 79.26);
  --sidebar-primary: oklch(0.64 0.05 115.39);
  --sidebar-primary-foreground: oklch(0.98 0.01 3.71);
  --sidebar-accent: oklch(0.33 0.02 60.70);
  --sidebar-accent-foreground: oklch(0.86 0.05 84.50);
  --sidebar-border: oklch(0.33 0.02 60.70);
  --sidebar-ring: oklch(0.64 0.05 115.39);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.625rem;
  --font-sans: Nunito, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.10;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}